{
  "bind": "0.0.0.0:8080",
  "proxy_url": "",
  "timeout": 600,
  "codex_api_base": "https://api.inspire.free.hr/v1",
  "codex_api_key": "sk-G6NNZF4FYF9AbJky0e410fA45d91479f928d49A5864673",
  "codex_api_organization": "",
  "codex_api_project": "",
  "chat_api_base": "https://api.inspire.free.hr/v1",
  "chat_api_key": "sk-G6NNZF4FYF9AbJky0e410fA45d91479f928d49A5864673",
  "chat_api_organization": "",
  "chat_api_project": "",
  "chat_max_tokens": 4096,
  "chat_model_default": "gpt-4o",
  "chat_model_map": {},
  "chat_locale": "zh_CN"
}
